@use "../../../presets" as *;
@use "../../../mixins" as *;
$size: 16px;

.slider {
  display: flex;

  color: $color-white;

  @include md-min {
    gap: 80px;
  }
  @include md {
    flex-direction: column;

    gap: 20px;
  }

  &__headers {
    position: relative;

    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 2;

    gap: $gap;
    @include md-min {
      &:after {
        position: absolute;
        top: 0;
        right: -42px;

        width: 4px;
        height: 100%;

        content: "";

        background-color: $color-gray-bg-separator;
      }
    }
  }

  &__header {
    position: relative;

    user-select: none;

    color: $color-gray-bg-text;

    font-weight: 700;

    @include md-min {
      text-align: right;

      font-size: 42px;
    }
    @include md {
      display: none;

      letter-spacing: 1px;
      text-transform: uppercase;

      font-size: 14px;
    }

    &.active {
      @include md-min {
        &:after {
          position: absolute;
          z-index: 1;
          top: 0;
          right: -42px;

          width: 4px;
          height: 100%;

          content: "";

          background-color: $color-accent;
        }
      }
      @include md {
        display: block;
      }
      span {
        @extend %text-liner-gradient;
      }
    }
  }

  &__notes {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 3;
  }

  &__note {
    position: absolute;
    z-index: -9999;

    max-width: 600px;

    opacity: 0;

    &.active {
      position: static;
      z-index: inherit;

      opacity: 1;
    }

    &-title {
      margin-bottom: 15px;

      font-weight: 500;

      @include md-min {
        font-size: 32px;
      }
      @include md {
        font-size: 22px;
      }
    }

    &-description {
      line-height: 1.43;

      @include md-min {
        font-size: 21px;
      }
      @include md {
        font-size: 18px;
      }
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;

    gap: 14px;
    @include md-min {
      display: none;
    }
  }

  &__indicator {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;

    &.active {
      opacity: 1;
    }
  }
}
