$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;
$color-accent: #f0145a;
$color-active: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;
$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-bg-text: #b3b3ba;
// 9F9AB3
$color-gray-bg-separator: #e6e6f0;
$color-white: #ffffff;
$color-black: #000000;
$bg-gradient: linear-gradient(128.63deg, $color-primary 0%, $color-primary 73.96%, #a54b5f 100%);
$bg-gradient-soft: linear-gradient(42.01deg, $color-primary 14.33%, $color-primary 51.39%, #7a425e 87.53%);
$bg-gradient-red: linear-gradient(121.42deg, $color-accent 30.65%, #693264 107.33%);
$bg-gradient-super-soft: linear-gradient(215.57deg, $color-primary 11.93%, $color-primary 57.17%, #643e72 87.46%);
$bg-gradient-red-text: linear-gradient(90.13deg, $color-accent 0.84%, #ef8080 99.96%);
$bg-gradient-red-text2: linear-gradient(90.13deg, #ef8080 0.84%, $color-accent 99.96%);
